*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form{
    margin: 50px;
}
label{
    margin-right: 80px;
}
.form1{
    margin: 5px;
}
input{
    transition: all 1s ease;

}
input:hover{
    background-color: darkslategrey;
}