*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    margin-left: 60px;
    font-size: 30px;
}
li:hover,li:active{
    background-color: rgb(206, 206, 129);
    color: brown;
}