*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.box{
    width: 150px;
    height: 150px;
    background-color: aqua;
    margin: 100px;
    transition: all 1s linear;

}
.box:hover{
    transform:translate(300px);
    -webkit-transform:translate(300px);
    -moz-transform:translate(300px);
    -ms-transform:translate(300px);
    -o-transform:translate(300px);
}

