*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hi:hover+.box1{
    transform-origin:;
    transition: all  1s ease-in-out;

}
.box {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 0px;
  }
.box1,.box2,.box2,.box3,.box4 {
    width: 100px;
    height: 100px;
    transition: width 2s;
    transition-timing-function: linear;
    transition: all  1s ease-in-out;

}
.box:hover{

}

  .box:hover .box1 {
    transform: rotate(90deg);
    transform-origin: top left  ;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

  .box:hover .box2 {
    transform: rotate(-90deg);
    transform-origin: top right  ;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

  .box:hover .box3 {
    transform: rotate(-90deg);
    transform-origin: bottom left
  }

  .box:hover .box4 {
    transform: rotate(90deg);
    transform-origin: bottom right  ;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

  .box1 {
    background-color: #e81123; 
  }

  .box2 {
    background-color: #00adef; 
  }

  .box3 {
    background-color: #ffcc00; 
  }

  .box4{
    background-color: #0078d7; 
  }